:root {
  --app-blue: rgb(0, 122, 255);
  --app-border-radius: 16px;
}

.App {
  text-align: center;
  transition: all 0.3s ease;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid transparent;
}

.sidebar {
  height: 80%;
}

.controls-container {
  background-color: white;
  border-radius: var(--app-border-radius);
  padding: 1rem;
  border: 1px solid transparent;
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.phone-box {
  background-color: white;
  border: 1px solid transparent;
  border-radius: var(--app-border-radius);
  min-width: 500px;
  overflow: hidden;
  position: relative;
  height: 680px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.phone {
  height: 780px;
  position: absolute;
  border-radius: var(--app-border-radius);
}


.bkg-pic-container {
  position: absolute;
  height: 640px;
  max-width: 500px;
  border-radius: var(--app-border-radius);
  border: 1px solid transparent;
  overflow: hidden;
  transition: all 0.5s ease;
}

.bkg-pic-container.loading {
  opacity: 0;
  transform: scale(1.1)
}

.bkg-pic {
  height: 100%;
}

.loading-indicator--visible {
  display: block;
}

.link-container {
  padding: 1rem;
  border-radius: var(--app-border-radius);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 1px 2px 20px 0px #eee;
}

.button {
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  border-radius: var(--app-border-radius);
  box-shadow: 1px 2px 20px 0px #eee;
  margin: 2rem;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 68px;
}

.button:hover {
  color: var(--app-blue);
}

.icon-button {
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-button:hover {
  color: var(--app-blue);
}

.icon-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: var(--app-border-radius);
  box-shadow: 1px 2px 20px 0px #eee;
}

.social-icon {
  height: 20px;
  position: absolute;
  top: 5px;
  bottom: 0;
  right: 15px;
  padding: 5px;
  transition: color 0.5s ease;
  color: rgba(255, 255, 255, 0.5);
}

.social-icon:hover {
  color: white;
}

.slanted-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: rgb(240, 242, 244);
  z-index: -1;

  transform: skewY(20deg);
  transform-origin: top right;
}

.corner-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: rgb(0, 28, 65);
  z-index: 0;

  transform: skewY(40deg);
  transform-origin: top right;
}
